<%- include("partials/header") -%>

<h1 style="color: black;">About US</h1>

<p>Hello everyone , This is Rachit gupta , the designer of this website. </p>
<p>I am providing my LinkedIn profile , you can connect me on that </p>
<p>
    <a href="https://www.linkedin.com/in/rachit-gupta-0069701a1/" style="text-align: center; font-size: large;" target="blank">LinkedIn</a>
</p>

