<%- include("partials/header") -%>

<div class="main">
    <h1 style="color: rgba(153, 45, 45, 0.356)">Create New List</h1>
    <div style="top: 200px; position: relative;">
    <form class="form" action="/compose" method="POST">
        <input id="inputtask" type="text" name="newList" placeholder="Enter Name of New List" autocomplete="off">
        <button id="addbutton"  type="submit" > Add List </button>
    </form>
</div>
</div>
